:root {
   --rang1: #a1d1f8;
}

.imgLogo {
   width: 80px;
   height: 80px;
}

.container {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row !important;
   background: var(--rang1);
}
